h1{
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    text-transform: uppercase;
    color: orangered;
    font-weight: 900;
    border-bottom: 2px solid orangered;
  }
}
