@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.me-xs { margin-right: .25em; }
.me-sm { margin-right: .5em; }
.me-md { margin-right: 1em; }
.me-lg { margin-right: 1.5em; }
.me-xl { margin-right: 3em; }

.ms-xs { margin-left: .25em; }
.ms-sm { margin-left: .5em; }
.ms-md { margin-left: 1em; }
.ms-lg { margin-left: 1.5em; }
.ms-xl { margin-left: 3em; }
